#-######################################
#- dunstrc as jinja2 template
#- Author: Alejandro Ricoveri <axltxl.xyz>
#- vim: ft=jinja
#-######################################

[global]
font         = {{ dunst_font }} {{ dunst_font_size }}
allow_markup =  {{ dunst_allow_markup|bool2str }}

#-
#- The format of the message.  Possible variables are:
#-   %a  appname
#-   %s  summary
#-   %b  body
#-   %i  iconname (including its path)
#-   %I  iconname (without its path)
#-   %p  progress value if set ([  0%] to [100%]) or nothing
#- Markup is allowed

# https://developer.gnome.org/pango/stable/PangoMarkupFormat.html
% macro dunst_set_fmt(icon='', icon_color=None, separator='')
%-     if icon_color is none
%-         set icon_color = color_base00|norm_hex
%-     endif
<span font='{{ dunst_font_icon }} 14' color='{{ icon_color }}'>{{ icon }}</span> <b>%s</b>  <span font='{{ dunst_font_icon }} 14'>{{ separator }}</span> <span font_weight='light'>    %b</span>
%- endmacro

% macro dunst_norm_dim(d)
%-    if d >= 0
{{ "+%s"|format(d) }}
%     else
{{ d }}
%-   endif
%- endmacro

% macro dunst_set_geometry(width, height, x, y)
%-  set x = dunst_norm_dim(x)
%-  set y = dunst_norm_dim(y)
{{ "%sx%s%s%s"|format(width, height, x, y) }}
%- endmacro


format               = "{{ dunst_set_fmt() }}"
sort                 = {{ dunst_sort|bool2str }}
indicate_hidden      = {{ dunst_indicate_hidden|bool2str }}
alignment            = {{ dunst_alignment }}
bounce_freq          = {{ dunst_bounce_freq }}
show_age_threshold   = {{ dunst_show_age_threshold }}
word_wrap            = {{ dunst_word_wrap|bool2str }}
ignore_newline       = {{ dunst_ignore_newline|bool2str }}
% if dunst_geometry|length > 0
geometry             = "{{ dunst_geometry }}"
% else
geometry             = "{{ dunst_set_geometry(dunst_width, dunst_height, dunst_xoffset, dunst_yoffset) }}"
%- endif

shrink               = {{ dunst_shrink|bool2str }}
transparency         = {{ dunst_transparency }}
idle_threshold       = {{ dunst_idle_treshold }}
follow               = {{ dunst_follow }}
sticky_history       = {{ dunst_sticky_history|bool2str }}
history_length       = {{ dunst_history_length }}
show_indicators      = {{ dunst_show_indicators|bool2str }}
line_height          = {{ dunst_line_height }}
separator_height     = {{ dunst_separator_height }}
padding              = {{ dunst_padding }}
horizontal_padding   = {{ dunst_horizontal_padding }}
separator_color      = {{ dunst_separator_color }}
startup_notification = {{ dunst_startup_notification|bool2str }}
dmenu                = {{ dunst_dmenu }}
browser              = {{ dunst_browser }}
icon_position        = {{ dunst_icon_position }}
% if dunst_icon_folders is iterable
icon_folders         = {{ dunst_icon_folders|join(":") }}
% else
icon_folders         = /usr/share/icons/gnome/16x16/status/:/usr/share/icons/gnome/16x16/devices/
% endif

[frame]
width = {{ dunst_frame_width }}
color = "{{ dunst_frame_color|norm_hex }}"

[shortcuts]
close     = {{ dunst_close }}
close_all = {{ dunst_close_all }}
history   = {{ dunst_history }}
context   = {{ dunst_context }}

[urgency_low]
background = "{{ dunst_urgency.low.background|norm_hex }}"
foreground = "{{ dunst_urgency.low.foreground|norm_hex }}"
timeout    = {{ dunst_urgency.low.timeout }}

[urgency_normal]
background = "{{ dunst_urgency.normal.background|norm_hex }}"
foreground = "{{ dunst_urgency.normal.foreground|norm_hex }}"
timeout    = {{ dunst_urgency.normal.timeout }}

[urgency_critical]
background = "{{ dunst_urgency.critical.background|norm_hex }}"
foreground = "{{ dunst_urgency.critical.foreground|norm_hex }}"
timeout    = {{ dunst_urgency.critical.timeout }}

# Every section that isn't one of the above is interpreted as a rules to
# override settings for certain messages.
# Messages can be matched by "appname", "summary", "body", "icon", "category",
# "msg_urgency" and you can override the "timeout", "urgency", "foreground",
# "background", "new_icon" and "format".
# Shell-like globbing will get expanded.
#
# SCRIPTING
# You can specify a script that gets run when the rule matches by
# setting the "script" option.
# The script will be called as follows:
#   script appname summary body icon urgency
# where urgency can be "LOW", "NORMAL" or "CRITICAL".
#
# NOTE: if you don't want a notification to be displayed, set the format
# to "".
# NOTE: It might be helpful to run dunst -print in a terminal in order
# to find fitting options for rules.

% include "dunst/custom.j2" ignore missing
{#
# Play a sound on notifications
[notisound]
    msg_urgency = normal
    summary = "*"
    script = dunst-play

[fmt-low]
    msg_urgency = low
    format = "<%= set_fmt(icon_color: $dunst_color0B) %>"

[fmt-normal]
    msg_urgency = normal
    format = "<%= set_fmt(icon: '') %>"

[fmt-critical]
    msg_urgency = critical
    format = "<%= set_fmt(icon: '') %>"

####################################
# Application-specific notifications
####################################

# Spotify
[fmt-spotify]
    appname = "Spotify"
    format = "<%= set_fmt(icon: '', separator: '') %>"
    background = "#<%= $dunst_color0B %>"
    foreground = "#<%= $dunst_color00 %>"

# wicd
[fmt-wicd]
    appname = "Wicd"
    format = "<%= set_fmt(icon: '') %>"

# dot-stow-watch sets icon to sync
# since dunst is buggy when it comes
# to do matching by category
# still, this is weak
[fmt-dot-stow-watch]
    appname = notify-send
    icon = sync
    msg_urgency = low
    format = "<%= set_fmt(icon: '', icon_color: $dunst_color0C) %>"
    background = "#<%= $dunst_color01 %>"
    foreground = "#<%= $dunst_color07 %>"
#}
